---
import Facebook from '@components/social-media/Facebook.astro';
import Linkedin from '@components/social-media/Linkedin.astro';
import Twitter from '@components/social-media/Twitter.astro';

const postUrl = Astro.request.url;
const encodedUrl = encodeURIComponent(postUrl);

const FACEBOOK_LINK = 'https://www.facebook.com/sharer/sharer.php?u=';
const shareFacebookUrl = `${FACEBOOK_LINK}${encodedUrl}`;

const TWITTER_LINK = 'https://twitter.com/intent/tweet?url=';
const shareTwitterUrl = `${TWITTER_LINK}${encodedUrl}`;

const LINKEDIN_LINK = 'https://www.linkedin.com/sharing/share-offsite/?url=';
const shareLinkedinUrl = `${LINKEDIN_LINK}${encodedUrl}`;
---

<div class="mt-8 flex items-center gap-6">
  <div class="flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 50 50"
      ><path
        class="fill-zinc-400 dark:fill-zinc-500"
        fill="currentColor"
        d="M30.3 13.7L25 8.4l-5.3 5.3l-1.4-1.4L25 5.6l6.7 6.7z"></path><path
        fill="currentColor"
        class="fill-zinc-400 dark:fill-zinc-500"
        d="M24 7h2v21h-2z"></path><path
        class="fill-zinc-400 dark:fill-zinc-500"
        fill="currentColor"
        d="M35 40H15c-1.7 0-3-1.3-3-3V19c0-1.7 1.3-3 3-3h7v2h-7c-.6 0-1 .4-1 1v18c0 .6.4 1 1 1h20c.6 0 1-.4 1-1V19c0-.6-.4-1-1-1h-7v-2h7c1.7 0 3 1.3 3 3v18c0 1.7-1.3 3-3 3z"
      ></path></svg
    >
    <span class="font-semibold text-lg">Share this post:</span>
  </div>
  <ul class="flex items-center gap-5">
    <li>
      <Twitter
        label="Share to Twitter"
        href={shareTwitterUrl}
        isColored={true}
      />
    </li>
    <li>
      <Linkedin
        label="Share to Linkedin"
        href={shareLinkedinUrl}
        isColored={true}
      />
    </li>
    <li>
      <Facebook
        label="Share to Facebook"
        href={shareFacebookUrl}
        isColored={true}
      />
    </li>
  </ul>
</div>
